.face-container{
  position: relative;
  height: 280px;
  .face{
    margin-top: $base-padding*3;
    width: 160px;
    height: 220px;
    @include transition(all $base-animation-duration ease-in-out);
    position: absolute;
  }
  @include media($screen) {
    .face{
      left: 50%;
      margin-left: -80px;
    }
  }
  @include media($mobile) {

    height: 167px;

    .face{
      margin-top: $base-padding*1;
      width: 107px;
      height: 147px;
      margin-left: -53px;
      &:hover{
        width: 107px;
        left: 50%;
      }
    }
  }
}


.two-face__right{
  .face{
    left: -80px;
    &:hover{
      left: 0;
    }
  }
}
.two-face__left{
  .face{
    right: -80px;
    &:hover{
      right: 0;
    }
  }
}
