.wrapper{
  position: relative;
}

.background{
  background-color: $dark;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  @include media($screen) {
    display: none;
  }
}

.two-face{
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: $base-padding;
  .two-face__content{
    padding-right: $base-padding;
    padding-left: $base-padding;
    width: 450px;
    .info{
      padding-left: $base-padding;
      padding-right: $base-padding;
    }
    &.two-face__content--no-padding{
      padding: 0;
    }
    @include media($screen) {
      width: 100%;
    }
  }
  .two-face__left,
  .two-face__right{
    position: relative;
    width: 50%;
    overflow-y: hidden;
  }
  .two-face__left{
    text-align: right;
    .two-face__content{
      margin-left: auto;
      @include animation(left 0.700s $ease-out-cubic);
    }
    @include media($screen) {
      text-align: center;
      width: 100%;
    }
  }
  .two-face__right{
    background-color: $dark;
    .two-face__content{
      @include animation(right 0.700s $ease-out-cubic);
    }
    @include media($screen) {
      display: none;
    }
  }

  &.separ{
    margin-top: $base-padding*5.5;
    .two-face__left,
    .two-face__right{
      .two-face__content{
        padding-top: $base-padding*6;
        &:before{
          font-family: 'regular', monospace;
          position: absolute;
          top: -8px;
        }
      }
    }
    @include media($screen) {
      margin-top: $base-padding*3.5;
      .two-face__left,
      .two-face__right{
        .two-face__content{
          padding-top: $base-padding*4;
        }
      }
    }
    .two-face__left .two-face__content{
      &:before{
        content: "-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_";
        right: 0;
        color: $primary-grey;
        @include media($screen) {
          content: "-_-_-_-_-_-_-_-_-_-_-";
          left: 0;
          text-align: center;
        }
      }
    }
    .two-face__right .two-face__content{
      &:before{
        content: "_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-";
        left: 0;
        color: $secondary-grey;
      }
    }
  }

}
