.wrapper{
  position: relative;
}

.background{
  background-color: $dark;
  position: fixed;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

.two-face{
  z-index: 1;
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: $base-padding;
  .two-face__content{
    padding-right: $base-padding;
    padding-left: $base-padding;
    width: 500px;
    &.two-face__content--no-padding{
      padding: 0;
    }
  }
  .two-face__left,
  .two-face__right{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
  }
  .two-face__left{
    text-align: right;
    .two-face__content{
      margin-left: auto;
      @include animation(left 0.700s $ease-out-cubic);
    }
  }
  .two-face__right{
    background-color: $dark;
    .two-face__content{
      @include animation(right 0.700s $ease-out-cubic);
    }
  }

  &.separ{
    margin-top: $base-padding*2;
    .two-face__left,
    .two-face__right{
      .two-face__content{
        padding-top: $base-padding*2.5;
        &:before{
          font-family: 'regular', monospace;
          position: absolute;
          top: -8px;
        }
      }
    }
    .two-face__left .two-face__content{
      &:before{
        content: "-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_";
        right: 0;
        color: $primary-grey;
      }
    }
    .two-face__right .two-face__content{
      &:before{
        content: "_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-";
        left: 0;
        color: $secondary-grey;
      }
    }
  }

}
