h1{
  font-family: 'bold', monospace;
  font-size: 38px;
  letter-spacing: -0.04em;
  font-weight: normal;
  margin-bottom: $base-padding/2;
  margin-top: $base-padding;
}

h2{
  font-family: 'regular', monospace;
  font-size: 22px;
  @include smoothing;
  font-weight: normal;
  margin-bottom: $base-padding*2;
}

p, a{
  font-size: 18px;
  font-family: 'regular', monospace;
  font-weight: normal;
  margin-bottom: $base-padding/2;
}

a{
  text-decoration: none;
  transition: color $base-animation-duration;
  &.social{
    display: block;
    font-size: 32px;
    margin-top: $base-padding;
    &:hover{
      opacity: 0.6;
    }
  }
}

.two-face__left{
  h1, h2{
    color: $primary-color;
  }
  p, a{
    color: $primary-grey;
  }
  a:hover{
    color: $primary-color;
  }
  a.social{
    color: $primary-color;
  }
}

.two-face__right{
  h1, h2{
    color: $secondary-color;
  }
  p, a{
    color: $secondary-grey;
  }
  a:hover{
    color: $secondary-color;
  }
  a.social{
    color: $secondary-color;
  }
}
