h1{
  font-family: 'bold', monospace;
  font-size: 38px;
  letter-spacing: -0.04em;
  font-weight: normal;
  margin-bottom: $base-padding/3;
  margin-top: $base-padding;
  @include smoothing;
}

h2{
  font-family: 'regular', monospace;
  font-size: 22px;
  @include smoothing;
  font-weight: normal;
  margin-bottom: $base-padding/2;
}

h3{
  font-family: 'bold', monospace;
  font-size: 26px;
  line-height: 32px;
  color: $light;
  @include smoothing;
}

h4{
  font-size: 18px;
  font-family: 'regular', monospace;
  font-weight: normal;
  margin-bottom: $base-padding/2;
  &:before{
    content: "/* ";
  }
  &:after{
    content: " */";
  }
}

p, a{
  font-size: 18px;
  line-height: 26px;
  font-family: 'regular', monospace;
  font-weight: normal;
  margin-bottom: $base-padding/3;
}

p.tags{
  .tag{
    &:after{
      content: ", ";
    }
    &:last-child:after{
      content: "";
    }
  }
}

a{
  display: block;
  text-decoration: none;
  transition: color $base-animation-duration;
  @include transition(color $base-animation-duration ease-in, opacity $base-animation-duration ease-in);
  &.social{
    display: inline-block;
    font-size: 32px;
    &:hover{
      opacity: 0.6;
    }
  }
}

.two-face__left{
  h1, h2{
    color: $primary-color;
  }
  p, a, h4{
    color: $primary-grey;
  }
  p.tags{
    .tag{
      color: $primary-color;
      &:after{
        color: $primary-grey;
      }
    }
  }
  a:hover{
    color: $primary-color;
  }
  a.social{
    color: $primary-color;
  }
}

.two-face__right{
  h1, h2{
    color: $secondary-color;
  }
  p, a, h4{
    color: $secondary-grey;
  }
  p.tags{
    .tag{
      color: $secondary-color;
      &:after{
        color: $light;
      }
    }
  }
  a:hover{
    color: $secondary-color;
  }
  a.social{
    color: $secondary-color;
  }
}
