
//COLORS
$light:               #FFFFFF;
$dark:                #2F2F4C;
$grey:                #E5E5F9;

$primary-color:       #3C3CE5;
$secondary-color:     #31DD8F;

$primary-grey:        rgba($primary-color, 0.4);
$secondary-grey:      rgba($light, 0.4);


//SPACE
$base-padding:        20px;

$spacer-n : 0;
$spacer-t : $base-padding/2;
$spacer-s : $base-padding;
$spacer-m : $base-padding * 2;
$spacer-l : $base-padding * 4;

//ANIM
$base-animation-duration: 0.3s;
