
//COLORS
$light:               #FFFFFF;
$dark:                #2F2F4C;
$grey:                #E5E5F9;

$primary-color:       #3C3CE5;
$secondary-color:     #31DD8F;

$primary-grey:        rgba($primary-color, 0.4);
$secondary-grey:      rgba($light, 0.4);
