.work{
  .link{
    display: inline-block;
    margin-left: $base-padding/2;
  }
  h3{
    margin-bottom: $base-padding/2;
  }
  .description{
    margin-bottom: $base-padding*2;
  }
  .tags{
    margin-bottom: $base-padding;
  }
  .two-face__left{
    z-index: 9;
    overflow: visible;
    .two-face__content{
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      .work__img-container{
        padding-left: $base-padding;
        padding-right: $base-padding;
        cursor: ew-resize;
        white-space: nowrap;
        position: absolute;
        left: 0;
        width: 200%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 99;
        padding-right: 100%;
        direction: rtl;
        ::-webkit-scrollbar {
            display: none;
        }
        img{
          border: $base-padding/2 solid $grey;
          height: 360px;
          margin-right: $base-padding;
        }
        @include media($screen) {
          direction: ltr;
          position: relative;
          width: 100%;
          padding-right: 0;
          img{
            margin-left: 0;
            margin-right: $base-padding;
          }
        }
        @include media($mobile) {
          display: block;
          overflow: hidden;
          white-space: auto;
          white-space: inherit;
          padding-right: $base-padding;
          img{
            width: 100%;
            height: inherit;
            margin-top: $base-padding/2;
            margin-bottom: $base-padding/2;
          }
        }
      }
    }
  }
}
