.work{
  .link{
    display: inline-block;
    margin-left: $base-padding/2;
  }
  h3{
    margin-bottom: $base-padding/2;
  }
  .description{
    margin-bottom: $base-padding*2;
  }
  .tags{
    margin-bottom: $base-padding;
  }
  .two-face__left{
    .two-face__content{
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      .work__img-container{
        padding-left: $base-padding;
        padding-right: $base-padding;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        @include display(flex);
        @include flex-direction(row-reverse);
        &:after{
          content: ".";
          opacity: 0;
          width: $base-padding;
        }
        img{
          border: $base-padding/2 solid $grey;
          height: 360px;
          margin-left: $base-padding;
        }
        @include media($screen) {
          flex-direction: row;
          img{
            margin-left: 0;
            margin-right: $base-padding;
          }
        }
        @include media($mobile) {
          display: block;
          overflow: hidden;
          img{
            width: 100%;
            height: inherit;
            margin-top: $base-padding/2;
          }
        }
      }
    }
  }
}
