extends _layouts/base

include _modules/link/link

block content
  .wrapper
    .background
    .two-face.mbn.mtl
      .two-face__left
        .two-face__content.two-face__content--no-padding
          img.face(src='images/face.svg')
      .two-face__right
        .two-face__content.two-face__content--no-padding
          img.face(src='images/face-ascii.svg')
    .two-face.mbl
      .two-face__left
        .two-face__content
          h1 Mickaël
          h2 UI/UX & Graphic Designer
          p Freelance
          p Paris
          a.social(href="https://dribbble.com/mickaelmarquez", target="_blank")
            i.icon-dribbble
      .two-face__right
        .two-face__content
          h1 Marquez
          h2 Front-End Developer
          a(href="mailto:marquez.mickael@gmail.com") marquez.mickael@gmail.com 
          a(href="tel:+33609428050") +336 09 42 80 50
          a.social(href="https://github.com/mickaelmarq", target="_blank")
            i.icon-github
    .two-face.separ
      .two-face__left
        .two-face__content
          h4 Compétences
          p.tags
            span.tag UI
            span.tag UX
            span.tag logo
            span.tag illustration
          h4 Outils
          p.tags
            span.tag Illustrator
            span.tag Photoshop
            span.tag InDesign
            span.tag Sketch
      .two-face__right
        .two-face__content
          h4 Languages
          p.tags
            span.tag html
            span.tag css
            span.tag sass
            span.tag less
            span.tag javascript
          h4 Frameworks
          p.tags
            span.tag angular
            span.tag ionic
            span.tag meteor
            span.tag symfony
            span.tag gulp
            span.tag git
    each val in [1, 2, 3, 4, 5]
      .two-face.separ.work
        .two-face__left
          .two-face__content
            .work__img-container
              img(src="https://d13yacurqjgara.cloudfront.net/users/239301/screenshots/1788738/ligthhouse.png")
              img(src="https://d13yacurqjgara.cloudfront.net/users/239301/screenshots/2498621/dribbbleshot.png")
              img(src="https://d13yacurqjgara.cloudfront.net/users/239301/screenshots/2989587/box.png")
        .two-face__right
          .two-face__content
            h3 
              | TF1
              a.link(href="#", target="_blank")
                i.icon-link
            p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4 Client
            p.tags
              span.tag tf1
            h4 Languages
            p.tags
              span.tag html
              span.tag css
              span.tag sass
              span.tag less
              span.tag javascript
